@import 'bourbon';
@import 'normalize';
$dark-blue: #2b303b;
$green: #2dbba6;
*, *::before, *::after {
  @include box-sizing( border-box );
}
html, body {
  margin: 0; padding: 0;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  background: #fff;
  color: #666;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
}
.header {
  @include size( 100% 60px );
  background: $dark-blue;
  color: #fafafa;
  line-height: 60px;
  padding: 0 40px;
  position: fixed; top: 0; left: 0;
  z-index: 99999;
  .logo {
    @include inline-block;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 0 -1px 0 #000;
  }
  form.change-user {
    @include inline-block;
    float: right;
    label {
      cursor: pointer;
      font-weight: bold;
      font-size: 12px;
      margin-right: 8px;
      text-shadow: 0 -1px 0 #000;
    }
    input[type=text] {
      @include appearance( none );
      border: 1px solid darken($dark-blue, 5%);
      box-shadow: 0 1px 0 0 rgba(#fff, 0.08);
      border-radius: 4px;
      background: lighten($dark-blue, 4%);
      color: #fafafa;
      font-size: 14px;
      height: 32px;
      margin-right: 12px;
      padding: 0 8px;
      &:focus {
        background: lighten($dark-blue, 7%);
        outline: none;
      }
    }
    button {
      @include appearance( none );
      border: 1px solid darken($dark-blue, 5%);
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(#000, 0.2), inset 0 1px 0 0 rgba(#fff,0.08);
      background: lighten($dark-blue, 4%);
      color: #fafafa;
      cursor: pointer;
      font-size: 12px;
      height: 32px;
      line-height: 32px;
      padding: 0 12px;
      position: relative; top: -1px;
      &:hover {
        background: lighten($dark-blue, 7%);
      }
      &:active {
        background: lighten($dark-blue, 3%);
      }
      &[disabled]{
        opacity: 0.5;
        pointer-events: none;
      }

    }
  }
}
.container {
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative; top: 80px;
  width: 1140px;
}
.statbox {
  margin-bottom: 20px;
  padding: 20px;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 6px;
  h3 {
    @include inline-block;
    margin-top: 0;
  }
}
.recent-tracks {
  width: 380px;
  ul {
    list-style-type: none;
    width: 300px;
    margin: 0;
    padding: 0;
    li {
      display: block;
      font-size: 14px;
      margin: 0;
      padding: 20px 0;
      position: relative;
      img.albumcover-small {
        position: absolute; top: 20px; left: 0;
        @include size( 32px );
      }
      .track-meta {
        position: relative; top: -2px; left: 47px;
        .track-name {
          font-weight: bold;
        }
        .track-artist {
          color: #999;
        }
      }
    }
  }
}
.top-artists, .top-tracks, .top-albums {
  width: 760px;
}