<div class="header" >
  <a class="logo" href="/">Legato</a>
  <div class="pull-right">
    <div class="header-nav">
      <a href="about">About</a>
      <a href="https://github.com/syropian/legato" target="_blank">GitHub</a>
    </div>
  </div>
</div>
<div class="about-container">
  <h3>What is Legato?</h3>
  <p>Legato is a simple overview of your music listening habits, using data from LastFM. As of right now you can view your top tracks, artists, and albums from various periods of time, as well as any recent tracks you've scrobbled.</p>
  <h3>Who Built It?</h3>
  <p>Me! I'm <strong><a href="http://syropia.net" target="_blank">Collin Henderson</a></strong>, a front-end developer at <a href="http://4ormat.com" target="_blank">4ormat</a>. I'm <a href="http://twitter.com/syropian" target="_blank">@syropian</a> on Twitter.</p>
  <h3>Why?</h3>
  <p>I do so much of my music listening, while I'm otherwise preoccupied with writing code. It's interesting to look back and see what I tend to listen to frequently. It was a fun little hack, and I hope to continue to expand on it with more stats and interactions.</p>
  <h3>Colophon</h3>
  <p>Legato was a weekend experiment, and as such I needed the right tools and frameworks to get the job done.</p>
  <p>Legato was written in javascript (with <a href="http://coffeescript.org" target="_blank">CoffeeScript</a>) using <a href="https://angularjs.org" target="_blank">AngularJS</a>, and pulls data from the <a href="http://last.fm" target="_blank">LastFM</a> API. Styles were written using <a href="http://sass-lang.com" target="_blank">Sass</a> &amp; <a href="http://bourbon.io" target="_blank">Bourbon</a>. Preprocessing is done with <a href="http://gulpjs.com" target="_blank">Gulp</a>, and deployments are done with Git &amp; <a href="https://github.com/syropian/slipspace" target="_blank">Slipspace</a>.</p>
  <p>The following plugins were also used:</p>
  <ul>
    <li>
      <strong><a href="http://masonry.desandro.com" target="_blank">Masonry</a></strong> by David DeSandro
    </li>
    <li>
      <strong><a href="https://github.com/passy/angular-masonry" target="_blank">angular-masonry</a></strong> by Pascal Hartig
    </li>
    <li>
      <strong><a href="http://morrisjs.github.io/morris.js/" target="_blank">morris.js</a></strong> by Olly Smith
    </li>
    <li>
      <strong><a href="http://fgnass.github.io/spin.js/" target="_blank">spin.js</a></strong> by Felix Gnass
    </li>
  </ul>
</div>